.img {
    max-width: 100%;
}

.stock {
    background-color: #faf9f9;
    font-size: 0.8vw;
    width: 80%;
    border: 0.5px solid #ddd;
    border-radius: 5%;
    text-align: center;
    margin-left: 10%;
}

.stock:hover {
    background-color: #777777;
    color: #ffffff;
}

.cancel-box {
    background-color: #faf9f9;
    font-size: 0.6vw;
    border: 0.5px solid #ddd;
    border-radius: 5%;
    text-align: center;
    margin-left: 10%;
}

.cancel-box:hover {
    background-color: #fd0404;
    color: #ffffff;
}

.added-stock {
    width: 20%;
    background-color: #faf9f9;
    font-size: 0.7vw;
    border: 0.5% solid #ddd;
    border-radius: 5%;
    text-align: center;
    display: inline-block;
}

.stockViz {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    height: 2%;
    width: 7%;
    border: 1.5px solid #ddd;
    border-radius: 2%;
    text-align: center;
    display: inline-block;
}

.stockViz .stockVizText {
    visibility: hidden;
    background-color: black;
    font-size: 0.8vw;
    color: #fff;
    text-align: center;
    border-radius: 6%;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
}

.stockViz .stockVizText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5%;
    border-width: 5%;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.stockViz:hover .stockVizText {
    visibility: visible;
}

.sort {
    background-color: #ffffff;
    font-size: 0.8vw;
    width: 80%;
    text-align: center;
}

#panel-menu {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #ffffff;
}

#main-panel {
    width: 85%;
    height: 100%;
    float: left;
    background-color: #faf9f9;
}

#searchBar {
    display: '';
    margin-bottom: 10%;
    margin-top: 16%;
    margin-left: 10%;
    background-image: url('/data/search.png');
    /* Add a search icon to input */
    background-position: left;
    /* Position the search icon */
    background-repeat: no-repeat;
    background-size: contain;
    /* Do not repeat the icon image */
    width: 80%;
    /* Full-width */
    font-size: 0.8vw;
    /* Increase font-size */
    /* Add some padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    /* Add a grey border */
    text-align: center;
    /* Add some space below the input */
}

#tradeDate {
    margin-top: 80%;
    background-color: #faf9f9;
    font-size: 0.8vw;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
    color: rgb(179, 180, 180);
}

#detailed-button {
    margin-top: 16px;
    background-color: #3366ff;
    font-size: 0.9vw;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
    color: #ffffff;
}

#selected-assets {
    background-color: #ffffff;
    font-size: 0.8vw;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
}