.menu-icon {
    height: 15%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stock {
    background-color: #faf9f9;
    font-size: 11px;
    width: 80%;
    border: 0.5px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
}

.cancel-box {
    background-color: #faf9f9;
    font-size: 10px;
    border: 0.5px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
}

.added-stock {
    width: 20%;
    background-color: #faf9f9;
    font-size: 10px;
    border: 0.5px solid #ddd;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

#panel-menu {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #ffffff;
}

#main-panel {
    width: 85%;
    height: 100%;
    float: left;
    background-color: #faf9f9;
}

#searchBar {
    display: '';
    margin-bottom: 10px;
    margin-top: 16px;
    margin-left: 10%;
    background-image: url('/data/search.png');
    /* Add a search icon to input */
    background-position: 0px 0px;
    /* Position the search icon */
    background-repeat: no-repeat;
    background-size: 9% 90%;
    /* Do not repeat the icon image */
    width: 80%;
    /* Full-width */
    font-size: 11px;
    /* Increase font-size */
    padding: 2px 2px 2px 2px;
    /* Add some padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    /* Add a grey border */
    text-align: center;
    /* Add some space below the input */
}

#tradeDate {
    margin-top: 80px;
    background-color: #faf9f9;
    font-size: 11px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
}

#detailed-button {
    margin-top: 16px;
    background-color: #3366ff;
    font-size: 11px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
    color: #ffffff;
}

#selected-assets {
    background-color: #ffffff;
    border: none;
    font-size: 11px;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
}